.sidebar-container{
    background-color: #56505017;
    width: 8.8rem;
    height: 100vh;
    padding: 2rem 3rem;
    border: none;
    border-radius: 0.3rem;

}

.sidebar-container

.general{
    margin-top: 0.4rem;

}

.sidebar-container ul{
    list-style-type: none;
}

.sidebar-container li{
    margin: 1.5rem 0;
}

.sidebar-container a{
    text-decoration: none;
    color: #221f1f79;
    display: flex;
    align-items: center;
    gap: 0.5rem;

}

.highlight{
    font-weight: 600;
    color: #372aac;
}

.icon{
    color: #221f1f79;
}


.sidebar-container h3{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.434);
    margin-bottom: 1.25rem;
}

.tools{
    margin-top: 2.5rem;
}


.setting{
    margin-top: 6rem;
}

/* Tablet Media Query */
@media (max-width:1024px) {
    .sidebar-container{
        width: 9rem;
        padding: 1rem 2rem;

    }

    .tools{
        margin-top: 1.8rem;
    }

    .setting{
        margin-top: 2.3rem;
    }

    .sidebar-container h3{
        margin-bottom: 0.7rem;
    }

    .sidebar-container li{
        margin: 1rem 0;
    }

    
}




/* Mobile Midea Query */

@media (max-width:768px) {
    .sidebar-container{
    display: none;


    }
    
}